<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulaire de Carte</title>
  <script type="module" src="./js/services/index.js"></script>
  <script src="./js/tools.js"></script>
  <script type="module">
    import { cardService } from './js/services/index.js';

    window.addEventListener('load', ()=>{
      cardService.getById(81).then(data=> {
          data.img_src = data.imgUrl;
          console.log([data])
          setTemplate('#cardtemplate','#cardContent',[data]);
        })
      })
  </script>
</head>
<body>
    <div id="cardContent">

        <!-- Template  -->
        <template id="cardtemplate">
            <div style="display: flex; flex-direction: column; width: 300px; margin: auto; border: solid 1px grey;">
                <span style="text-align: center;">
                    {{name}}
                </span>
                <img src={{img_src}} alt="photo carte" style="width:100%">
                <span>{{description}}</span>
                <div style="display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(2, 1fr);">
                    <span>HP: {{hp}}</span>
                    <span>Energy: {{energy}}</span>
                    <span>Attack: {{attack}}</span>
                    <span>Defense: {{defense}}</span>
                </div>
            </div>

        </template>
        
            
    </div>
</body>
</html>

<style>
  .cardForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: auto  ;
  }

  .cardForm input {
    margin: 10px;
  }
</style>