<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>Grid Example - Semantic</title>

        <link rel="stylesheet" type="text/css" href="./lib/Semantic-UI-CSS-master/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="css/custom.css">

    </head>

    <body>
        <div class="ui clearing segment bg-wood2">
            <h3 class="ui right floated header">
                <i class="user circle outline icon"></i>
                <div class="content">
                    <span id="userNameId">Default UserName</span>
                    <div class="sub header"><span id="walletId">9999</span>$</div>
                </div>
            </h3>

            <h3 class="ui left floated header">
                <a href="/home.html">
                <i class="home icon"></i>
                <div class="content">
                    Home
                    <div class="sub header">
                        
                        <p>Game select your card</p>

                        
                    </div>
                </div>
            </a>
            </h3>
        </div>


        <div class="ui grid bg-wood">
                <!------------------------------------------------------------------------->
                <!--    ----------------------------- CARD ----------------------------- -->
                <!------------------------------------------------------------------------->
                <div class=" one wide column"></div>
                <div class=" fourteen wide column">
                        <div id="tableContent" class="ui grid stackable" >
                           <template id="cardlist" >
                                   <div class=" three wide column">
                                   <div class="ui special cards">                                
                                       <div class="card card-effect-shadow content-box ">       
                                           <div class=" card-title card-effect-shadow">
                                                   <div class="ui grid ">
                                                       <div class="three column row">
                                                           <div class="column">
                                                               <i class="heart outline icon"></i><span id="cardHPId">{{hp}}</span> 
                                                           </div>
                                                           <div class="column card-title-text ">
                                                                   <h5>{{name}}</h5>
                                                           </div>
                                                           <div class="column">
                                                               <span id="energyId">{{energy}}</span> <i class="lightning icon"></i>
                                                           </div>
                                                       </div>
                                                   </div>
                                           </div>
                                           <div class="image imageCard card-content">            
                                               <div class="blurring dimmable image">
                                                   <div class="ui inverted dimmer">
                                                       <div class="content">
                                                           <div class="center">
                                                               <div class="ui primary button">Add Friend</div>
                                                           </div>
                                                       </div>
                                                   </div>
                                                   <div class="ui fluid image card-title">
                                                       <a class="ui left corner label">
                                                           {{family_name}}
                                                         </a>
                                                       <img id="cardImgId" class="ui centered image" src={{img_src}}>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="content card-content">
                                               <div class="ui form tiny">
                                                   <div class="field">
                                                       <label id="cardNameId"></label>
                                                       <textarea id="cardDescriptionId" class="overflowHiden" readonly="" rows="5">{{description}}
                                                       </textarea>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="content card-content">
                                               <i class="heart outline icon"></i><span id="cardHPId">  {{hp}}</span> 
                                               <div class="right floated ">
                                                       <span id="cardEnergyId"> {{energy}}</span>
                                                   <i class="lightning icon"></i>                                             
                                               </div>
                                           </div>
                                           <div class="content card-content">
                                               <span class="right floated">
                                                       <span id="cardAttackId">  {{attack}}</span> 
                                                   <i class=" wizard icon"></i>
                                               </span>
                                               <i class="protect icon"></i>
                                               <span id="cardDefenceId"> {{defense}}</span> 
                                           </div>
                                           <div class="ui bottom attached button" onclick="onProcess({{onProcessParam}})">
                                               <i class="play icon"></i>
                                                play 
                                           </div>        
                                       </div>          
                                   </div>
                               </div>

                           </template>
                        </div>
                </div>
                <div class=" one wide column"></div>
        </div>

        <script src="./lib/jquery-3.3.1.min.js"></script>
        <script src="./lib/Semantic-UI-CSS-master/semantic.js"></script>
        <script src="./js/tools.js" ></script>     
        <script src="./js/cardList-select.js" ></script>     
    
    </body>
</html>