<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>Grid Example - Semantic</title>

        <link rel="stylesheet" type="text/css" href="./lib/Semantic-UI-CSS-master/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="css/custom.css">

    </head>

    <body>
        <div class="ui clearing segment bg-wood2">
            <h3 class="ui right floated header">
                <i class="user circle outline icon"></i>
                <div class="content">
                  <span id="userNameId">Default UserName</span>
                  <div class="sub header"><span id="walletId">9999</span>$</div>
              </div>
            </h3>

            <h3 class="ui left floated header">
                <a href="/home.html">
                <i class="home icon"></i>
                <div class="content">
                    Home
                    <div class="sub header">
                        
                        <p>Select or create a room</p>

                        
                    </div>
                </div>
            </a>
            </h3>
        </div>


        <div class="ui grid bg-wood">
            <div class=" ten wide column">
            <table class="ui celled striped table">
              <thead>
                <tr><th colspan="1">
                  Room
                </th>
                <th colspan="1"  class="center aligned">
                  User
                </th>
                <th colspan="1"  class="center aligned">
                  Bet
                </th>
                <th colspan="1"  >
                  Play
                </th>
              </tr></thead>
              <tbody id="roomContent">
      
                <template id="roomlist" >
                <tr>
                  <td class="collapsing">
                     {{room_name}}
                  </td>
                  <td class="right aligned">{{user_id}}</td>
                  <td class="right aligned">
                    {{bet}}
                  </td>
                  <td class="collapsing">
                    <button class="ui button" onclick="onProcessGame(this)">
                      <i class="game sign icon"> {{room_id}}</i>
                  </button>
                  </td>
                </tr>
              </template>
              </tbody>
            </table>
              </div>

                <div class=" six wide column">
                    <form class="ui form">
                      <div class="field">
                        <label>Room Name</label>
                        <input type="text" name="room-name" placeholder="First Name">
                      </div>
                      <div class="field">
                        <label>Bet</label>
                        <input type="number" name="bet" placeholder="Last Name">
                      </div>
                      
                      <button class="ui button" type="button" onclick="onProcess(this)">Create</button>
                    </form>
                </div>
            <div class=" three wide column"></div>
        </div>

        <script src="./lib/jquery-3.3.1.min.js"></script>
        <script src="./lib/Semantic-UI-CSS-master/semantic.js"></script>
        <script src="./js/tools.js" ></script>     
        <script src="./js/room-selection.js" ></script>     
    
    </body>
</html>