
/*
.parent {
    width: 300px;
    padding: 20px;
    perspective: 1000px;
  }
*/

.ui.card, .ui.cards > .card{
    box-shadow: rgb(51, 51, 51) 0px 30px 30px -10px;
    background: rgba(192, 192, 192, 0.87);
}

.ui.card, .ui.cards > .card:hover {
    box-shadow: rgba(142, 142, 142, 0.6) 0px 20px 20px -10px;
    background: rgba(255, 255, 255, 0.87);
}

/*
.ui.card > .content, .ui.cards > .card > .content {
    background: rgba(4, 193, 250, 0.732);
}
*/

.card-effect-shadow {
    /*box-shadow: rgba(142, 142, 142, 1.0) 0px 30px 30px -10px;*/
}
/*
  .card-effect {
    padding-top: 50px;  
    border: 3px solid rgb(255, 255, 255);
    transform-style: preserve-3d;
    background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
        repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
    background-size: 60px 60px;
    background-position: 0 0, 0 0;
    background-color: #f0f0f0;
    width: 100%;
    box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
    transition: all 0.5s ease-in-out;
  }
  */
.card {
    box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;

}
.card:hover {
    background-position: -100px 100px, -100px 100px;

}

.fixed {
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0, 0, 0, 0deg);

}

.content-box {
    background: rgba(4, 193, 250, 0.732);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
}

.content-box .card-title {
    background-color: rgba(220, 221, 222, 0.732);
    display: inline-block;
    color: rgb(71, 70, 70);

    /*font-size: 25px;
    font-weight: 900;*/

    /*color: rgba(4, 193, 250, 0.732);*/
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
}

.content-box .card-title:hover {

    transform: translate3d(0px, 0px, 30px);

}

.content-box .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(71, 70, 70);;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
}

.content-box .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
}


.content-box .card-title-text {
    background-color: rgba(61, 133, 204, 0.732);
    display: inline-block;
    font-size: 25px;
    font-weight: 900;

    /*color: rgba(4, 193, 250, 0.732);*/

    transform: translate3d(0px, -10px, 100px);
    box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
}
.content-box:hover .card-title-text {
    background-color: rgba(220, 221, 222, 0.0);
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 0px);

}

/*************************** UI SEMANTIC************************/

.ui.card > .content, .ui.cards > .card > .content {
    font-size: 1em;
}
.ui.cards > .card > .content{
    padding: 0.5em 0.5em;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

.ui.fluid.image img {

    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;

}

.ui.cards > .card {
    font-size: 1em;
    min-width: 160px;
    height: 350px;
}


.ui.form textarea {
    font-size: 0.7em;
}


/*
.content-box .see-more {
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 900;
  font-size: 9px;
  text-transform: uppercase;
  color: rgb(7, 185, 255);

  background: white;
  padding: 0.5rem 0.7rem;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 60px);
}

.date-box {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  background: white;
  border: 1px solid rgb(7, 185, 255);

  padding: 10px;
  transform: translate3d(0px, 0px, 80px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
}

.date-box span {
  display: block;
  text-align: center;
}

.date-box .month {
  color: rgb(4, 193, 250);
  font-size: 9px;
  font-weight: 700;
}

.date-box .date {
  font-size: 20px;
  font-weight: 900;
  color: rgb(4, 193, 250);
}

*/

.bg-wood{
    /*
    background-image: url("../img/wood-1.jpg");
    */
}

.ui.segment {
    /*
     background-image:
     linear-gradient(rgba(0, 0, 0, 0.6), rgba(232, 212, 212, 0.6)),
       url("../img/pngegg.png");
     background-repeat: no-repeat, repeat;
     background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100px;
   display: flex;
   justify-content: flex-end;*/
}


/*

*/