<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>HEADER</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../../lib/Semantic-UI-CSS-master/semantic.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/signup.css}">
</head>
<body>

<div class="ui clearing segment bg-wood2">
    <h3 class="ui right floated header">
        <i class="user circle outline icon"></i>
    </h3>

    <h3 class="ui left floated header">
        <a href="/">
            <i class="home icon"></i>
            <div class="content">
                Home
                <div class="sub header">
                    <p>Add an user</p>
                </div>
            </div>
        </a>
    </h3>
</div>
</body>
</html>
